
<% place = Place.find_by(id:params["id"]) %>

<!-- check if landmark is not nil -->
<% if place != nil %>
    <div class="row">
        <div class="col-sm-12">
            <h2><%= place.name %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= image_tag place.image_url, class:"img-responsive" %>
    
        </div>
        <div class="col-md-6">
            <p class="lead">
          <%= place.desc %>
      </p>
        </div>
    </div>

<% else %>
<h1> No such id </h1>

<% end %>